.animations-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 215px;
  grid-gap: 50px;

  & div {
    position: relative;
  }

  &-link {
    background-color: transparent;
    border: none;

    &:hover {
      text-decoration: none;
    }
  }

  &-item {
    text-align: center;
    height: 100%;

    &:hover &-image {
      // box-shadow: 0 10px 10px rgba(255,255,255,0.1);
      filter: brightness(0.7);
    }

    &-image {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 80%;
      filter: brightness(0.55);
      z-index: -1;
      box-shadow: 0 10px 10px rgba(0,0,0,0.1);
      transition: all .2s;
      border-radius: 5px;
    }

    & h3 {
      position: absolute;
      top: 40%;
      left: 50%;
      width: 75%;
      transform: translate(-50%, -50%);
    }

    &-details {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      width: 100%;
      position: absolute !important;
      bottom: 0;

      &-creator {
        justify-self: flex-start;
        z-index: 3;
        color: white;

        &:hover {
          color: white;
        }
      }

      &-uses {
        text-align: right;
        color: white;
        z-index: 3;
      }
    }
  }

  .animation-buttons {
    width: 100%;
  }
}

.modal * {
  color: black;
}
