.animations-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 50px;

  &-item {
    text-align: center;
  }
}

.modal * {
  color: black;
}

code {
  display: inline-block;
  background-color: #ccc;
  color: black;
  padding: 5px;
  border-radius: 4px;
}

.animation-buttons {
  width: 100%;
}
