.animation-demo {
  height: 500px;
  border: 2px solid white;
  border-radius: 5px;
}

.animation-details {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
}

.customize-colors {
  display: flex;
  flex-direction: column;
  align-items: flex-end
}
