.profile {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;

  &-information {
    &-avatar {
      width: 300px;
      border: 5px solid white;
      border-radius: 50%;
    }

    &-github {
      width: 50px;

      &:hover {
        text-decoration: none;
      }

      & img {
        width: 35px;
        transform: translateY(-3px);
      }
    }

    & small {
      display: block;
      height: 20px;
    }
  }
}
