.center-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  text-align: center;
}

.index-animation {
  height: 100vh;
}

@media (max-width: 768px) {
  // HEADER HEIGHT IS TOO TALL
  .index-animation {
    height: auto;
  }

  // HOMEPAGE CONTAINER GETS SQUISHED
  .center-container {
    position: static;
    margin: 25px auto;
    transform: none;
    width: 90%;

    .main-header {
      font-size: 55px;
      margin-bottom: 25px;
    }
  }
}
