.contributor-section {
  .contributor-form-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    margin-top: 15px;
  }

  .checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0;

    & input {
      margin-right: 5px;
      transform: translateY(-1px);
    }
  }

  & a {
    color: #ccc !important;
    text-decoration: underline !important;

    &:hover {
      color: #eee !important;
    }
  }
}

@media (max-width: 500px) {
  // JOIN US GRID GETS SQUISHED
  .contributor-section {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr)) !important;

    .contributor-form-container {
      grid-template-columns: repeat(auto-fill, minmax(100%, 1fr)) !important;
    }
  }
}
