footer {
  background-color: #181818;
  margin-top: 50px;
  padding: 50px 0;

  & * {
    color: white;
  }

  .footer-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 50px;

    .twitter {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 17.5px;
      margin: 10px 0;
      transition: all .2s;

      & a {
        color: white;

        &:hover {
          color: #ddd;
          text-decoration: none;
        }

        & img {
          width: 30px;
          margin-right: 5px;
        }
      }
    }

    .footer-navigation {
      list-style: none;

      & a {
        color: #eee;
        font-size: 17.5px;
      }
    }

    .footer-social-links {
      grid-gap: 10px !important;
      grid-template-columns: repeat(auto-fill, 30px) !important;
    }
  }

  .footer-logo {
    width: 85px;
    transform: translateX(-15px);
  }
}
