nav {
  z-index: 10;

  .logo {
    height: 90px;
  }

  .nav-item {
    margin: 0 2.5px !important;
  }
}

@media (max-width: 768px) {
  // NAVBAR GETS SQUISHED
  .github-btn {
    display: none;
  }

  nav {
    position: static !important;
  }
}
