* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: radial-gradient($color-light, $color-dark);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  position: relative;
  padding-top: 50px;
}

.spacer {
  padding-top: 75px;
}
