@import url('https://fonts.googleapis.com/css?family=Oxanium:400,700&display=swap');

$color-light: #3c3c3c;
$color-dark: #141414;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Oxanium;
}

body {
  background-image: radial-gradient($color-light, $color-dark);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  position: relative;
}

section {
  padding: 50px 0;
  background-color: $color-dark;
}

p, li, div {
  color: #ddd;
  font-size: 17.5px;
}

.cta-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
}

@media (max-width: 768px) {
  // HOMEPAGE CTA BUTTONS GET SQUISHED
  .cta-buttons {
    grid-template-columns: repeat(auto-fill, 100%);
  }
}
