@import url('https://fonts.googleapis.com/css?family=Oxanium:400,700&display=swap');

$color-light: #3c3c3c;
$color-dark: #141414;

.primary-cta-button {
  background-color: white;
  color: $color-dark !important;
  cursor: pointer;
  border: 2px solid white;
  padding: 10px 15px;
  border-radius: 4px;
  transition: all .2s;
  font-size: 20px;
  text-align: center;
}

.primary-cta-button:hover {
  background-color: #ccc;
  border: 2px solid #ccc;
  color: $color-dark;
  text-decoration: none;
}

.ghost-cta-button {
  background-color: transparent;
  color: white;
  cursor: pointer;
  border: 2px solid white;
  border-radius: 4px;
  padding: 10px 15px;
  font-size: 20px;
  transition: all .2s;
  text-align: center;
}

.ghost-cta-button:hover {
  background-color: white;
  color: $color-dark;
  text-decoration: none;
}

.main-header {
  font-size: 65px;
  font-weight: bold;
  text-align: center;
}

.page-header {
  font-size: 50px;
  font-weight: 1000;
  text-align: center;
  margin-bottom: 40px;
}

.sub-header {
  font-size: 35px;
  font-weight: bold;
}

.form-input {
  display: block;
  width: 100%;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  transition: all .2s;
  border-radius: 4px;
  padding: 10px 15px;
  margin-bottom: 15px;

  &:focus {
    outline: none;
    background-color: rgba(255, 255, 255, .3);
  }

  &::placeholder {
    color: #ddd;
  }
}

h1, h2, h3, h4, h5 {
  color: white;
}

p, li, div {
  color: #ddd;
  font-size: 20px;
  line-height: 34px;
}

strong {
  font-size: 25px;
  color: #eee;
}

.github-btn {
  position: absolute;
  top: 35px;
  right: 40px;
  z-index: 99999;

  & img {
    width: 30px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Oxanium;
}

body {
  background-image: radial-gradient($color-light, $color-dark);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  position: relative;
}

section {
  padding: 50px 0;
  background-color: $color-dark;
}

.spacer {
  padding-top: 125px;
}

.cta-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
}

@media (max-width: 768px) {
  // SPACER HAS TOO MUCH SPACE
  .spacer {
    padding-top: 30px;
  }
}

@media (max-width: 768px) {
  // HOMEPAGE CTA BUTTONS GET SQUISHED
  .cta-buttons {
    grid-template-columns: repeat(auto-fill, 100%);
  }
}
