<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Ano.js - Page Not Found</title>
    <%- include("blocks/imports.html") %>
  </head>
  <body>
    <%- include("blocks/navbar.html") %>


    <div class="page-container container" style="max-width: 600px;">
      <h1 class="header-secondary">Page Not Found!</h1>
      <p>We're sorry, but we couldn't find the page you were looking for! If you truly think that this is an issue, please <a href="mailto:me@calix.dev">contact us</a>.</p>
      <div class="pt-4 text-center">
        <a href="/" class="primary-cta-button">Return to home page</a>
      </div>
    </div>
    <%- include("blocks/footer.html") %>
  </body>
</html>
