<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Ano.js - 500 Internal Server Error</title>
    <%- blockElements[0] %>
  </head>
  <body>
    <%- blockElements[1] %>
    <div class="spacer"></div>

    <div class="container" style="padding-bottom: 100px;">
      <h1 class="page-header">500 - Internal Server Error</h1>
      <p>We're sorry, but there is something wrong with our servers. We are currently working on this issue, but if don't think this problem has been recognized yet, please <a href="/contact-us">contact us</a>. Sorry for the inconvenience!</p>
      <div class="pt-5 text-center">
        <a href="/" class="primary-cta-button">Return to home page</a>
      </div>
    </div>
    <%- blockElements[2] %>
  </body>
</html>
