<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Ano.js - About Our Open Source Project</title>
    <meta name="description" content="Ano.js is a free, open source web animation library hosted on GitHub that makes creating beautiful designs a whole lot easier. We've designed Anojs in the interest of simplifying the process of creating and integrating web animations into your website. All of our animations are free to use, and the entire operation is powered by open source contributions. Anojs truly is the only platform you'll ever need for web animation.">
    <%- blockElements[0] %>
  </head>
  <body>
    <%- blockElements[1] %>
    <div class="spacer"></div>

    <div class="container">
      <h1 class="page-header">About Ano.js</h1>
      <p>
        Ano.js is a free, open source web animation library that makes creating beautiful designs a whole lot easier. We've designed Ano.js in the interest of simplifying the process of creating and integrating web animations into your website. All of our animations are free to use, and the entire operation is powered by open source contributions.
      </p>

      <h3 class="sub-header mt-5">How To Get Started</h3>
      <div class="about-steps">
        <div class="about-step">
          <span class="about-step-number">1.</span>
          <p class="about-step-description">
            <strong>Find an animation you like.</strong> You can view all our animations on our <a href="/animations">animations page</a>, and even interact with them by clicking the "Try it Out!" button.
          </p>
        </div>
        <div class="about-step">
          <span class="about-step-number">2.</span>
          <p class="about-step-description">
            <strong>Get the animation.</strong> After finding an animation you want to use, click the "Get the Animation!" button. You will get a popup that will give you the code for the animation.
          </p>
        </div>
        <div class="about-step">
          <span class="about-step-number">3.</span>
          <p class="about-step-description">
            <strong>Use the animation.</strong> Finally, all you have to do is copy-paste the code from the popup into your website!
            <br>
            <strong>NOTE:</strong> Be sure you paste the code within the <code>&lt;body&gt;&lt;/body&gt;</code> tags.
          </p>
        </div>
      </div>
    </div>
    <%- blockElements[2] %>
  </body>
</html>
