<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Ano.js - Animations</title>
    <%- blockElements[0] %>
  </head>
  <body>
    <%- blockElements[1] %>
    <div class="spacer"></div>

    <div class="container">
      <h1 class="page-header">Animations</h1>
      <div class="animations-grid">
        <% for (animation of animationData) { %>
          <div class="animations-grid-item">
            <video class="animations-grid-item-video" controls width="300" height="200" name="Video Name" src="<%= animation.videoLink %>"></video>
            <div class="animation-buttons mt-2">
              <a class="ghost-cta-button" href="/animations/<%= animation.idName %>" target="_">Try it Out!</a>
              <a class="primary-cta-button" data-toggle="modal" data-target="#<%= animation.idName %>">
                Get Animation!
              </a>
            </div>
          </div>
        <% } %>
      </div>
    </div>

    <!-- MODALS -->
    <% for (animation of animationData) { %>
      <div class="modal fade" id="<%= animation.idName %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title" id="exampleModalLabel"><%= animation.name %> Animation</h3>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
              <div class="modal-body" style="text-align: left;">
                <h5>Congratulations! You now have access to this animation!</h5>
                <span>To integrate this animation into your website, copy-paste the code below:</span>
                <br><br>
                <code>
                  &lt;div id="anojs-<%= animation.idName %>"&gt;&lt;/div&gt;
                  <br>
                  &lt;script src="<%= animation.cdnLink %>"&gt;&lt;/script&gt;
                </code>
                <br><br>
                <strong>NOTE: You may need to modify the code according to your specific application.</strong>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
          </div>
        </div>
      </div>
    <% } %>

    <!-- MOBILE DISCLAIMER MODAL -->
    <div class="modal fade" id="mobile-disclaimer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLabel">Mobile Viewing Disclaimer</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
            <div class="modal-body" style="text-align: left;">
              Because you are viewing on a mobile device, we cannot allow you to test and interact with these animations. If you would like to try out these animations first hand, we recommend you viewing on a computer.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
      </div>
    </div>

    <%- blockElements[2] %>
  </body>

  <script>
    // MAKING ALL ANIMATION TESTING BUTTONS DISABLED IF ON MOBILE
    if (screen.width <= 500) {
      var buttons = document.querySelectorAll(".ghost-cta-button");

      for (button of buttons) {
        button.style.display = "none";
      }

      $("#mobile-disclaimer").modal();
    }
  </script>
</html>
