<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Check out some of our open source web animations made in HTML, CSS, and Javascript by Anojs. These animations are completely free, courtesy of Ano.js, hosted on GitHub, and they have the source code along with it! Copy and paste web animations in your website for free!">
    <title>Ano.js - Free Web Animations with Source Code</title>
    <%- include("blocks/imports.html") %>
  </head>
  <body>
    <%- include("blocks/navbar.html") %>
    <div class="spacer"></div>

    <div class="container">
      <h1 class="page-header">Animations</h1>
      <div class="animations-grid">
        <% for (animation of animations) { %>
          <div>
            <a class="animations-grid-link" href="/animations/<%= animation.idName %>">
              <div class="animations-grid-item">
                <img src="<%= animation.imageLink %>" alt="Ano.js animation demo image" class="animations-grid-item-image">
                <h3><%= animation.name %></h3>
              </div>
            </a>
            <div class="animations-grid-item-details">
              <a href="/our-team/<%= animation.animationContributor %>" class="animations-grid-item-details-creator">By: <%= animation.animationContributor %></a>
              <span class="animations-grid-item-details-uses"><%= animation.useCounter %> Uses</span>
            </div>
          </div>
        <% } %>
      </div>
    </div>

    <!-- <a class="primary-cta-button" data-toggle="modal" data-target="#<%= animation.idName %>">
      Get Animation!
    </a> -->


    <!-- MOBILE DISCLAIMER MODAL -->
    <div class="modal fade" id="mobile-disclaimer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLabel">Mobile Viewing Disclaimer</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
            <div class="modal-body" style="text-align: left;">
              Because you are viewing on a mobile device, we cannot allow you to test and interact with these animations. If you would like to try out these animations first hand, we recommend you viewing on a computer.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
      </div>
    </div>

    <%- include("blocks/footer.html") %>
  </body>

  <script>
    // MAKING ALL ANIMATION TESTING BUTTONS DISABLED IF ON MOBILE
    if (screen.width <= 500) {
      var buttons = document.querySelectorAll(".ghost-cta-button");

      for (button of buttons) {
        button.style.display = "none";
      }

      $("#mobile-disclaimer").modal();

      // Making all links null
      for (aTag of document.getElementsByClassName("animations-grid-link")) {
        aTag.addEventListener("click", function(event) { event.preventDefault(); return false; });
      }
    }
  </script>
</html>
