<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Check out our open source web animation called <%= animation.name %>! It is free to use from Ano.js and it comes with the source code for you to look at!">
    <title>Ano.js Web Animation - <%= animation.name %></title>
    <%- blockElements[0] %>
  </head>
  <body style="padding: 0; overflow-x: hidden;">
    <%- blockElements[1] %>

    <div class="spacer"></div>

    <div class="container">
      <h1 class="page-header"><%= animation.name %></h1>
      <div class="animation-demo" id="anojs-<%= animation.idName %>"></div>

      <div class="animation-details mt-3">
        <a href="/our-team/" class="animations-grid-item-details-creator">By: Calix Huang</a>
        <a onclick="addUseToAnimation()" class="primary-cta-button" data-toggle="modal" data-target="#<%= animation.idName %>">
          Use this Animation!
        </a>
        <span class="animations-grid-item-details-uses"><%= animation.useCounter %> Uses</span>
      </div>
    </div>

    <!-- MODALS -->
    <div class="modal fade" id="<%= animation.idName %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLabel"><%= animation.name %> Animation</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
            <div class="modal-body" style="text-align: left;">
              <h5>Congratulations! You now have access to this animation!</h5>
              <span>To integrate this animation into your website, copy-paste the code below:</span>
              <br><br>
              <code>
                &lt;div id="anojs-<%= animation.idName %>"&gt;&lt;/div&gt;
                <br>
                &lt;script src="<%= animation.cdnLink %>"&gt;&lt;/script&gt;
              </code>
              <br><br>
              <strong>NOTE: You may need to modify the code according to your specific application.</strong>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
      </div>
    </div>

    <%- blockElements[2] %>
  </body>
  <script src="<%= animation.cdnLink %>" charset="utf-8"></script>
  <script>
    function addUseToAnimation() {
      fetch(`/app/add-use-to-animation?animationIdName=${"<%= animation.idName %>"}`, {
        method: "POST"
      });
    }

    canvas.width  = canvas.offsetWidth + 300;
    canvas.height = canvas.offsetHeight + 150;
  </script>
</html>
