<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Check out our open source web animation called <%= animation.name %>! It is free to use from Ano.js and it comes with the source code for you to look at!">
    <title>Ano.js Web Animation - <%= animation.name %></title>
    <%- blockElements[0] %>
  </head>
  <body style="padding: 0; overflow-x: hidden;">
    <%- blockElements[1] %>

    <div class="spacer"></div>

    <div class="container">
      <h1 class="page-header"><%= animation.name %></h1>
      <div style="overflow: hidden;" class="animation-demo" id="anojs-<%= animation.idName %>"></div>

      <div class="animation-details mt-3">
        <div>
          <a href="/our-team/<%= animation.animationContributor %>" class="animations-grid-item-details-creator">By: <%= animation.animationContributor %></a>
          <br>
          <span class="animations-grid-item-details-uses"><%= animation.useCounter %> Uses</span>
        </div>

        <a onclick="addUseToAnimation()" class="primary-cta-button" data-toggle="modal" data-target="#<%= animation.idName %>">
          Use this Animation!
        </a>
        <div style="justify-self: flex-end;">
          <% for (parameter of animation.animationParameters) { %>
            <input type="color" id="<%= parameter %>" value="" onchange="updateCdnLink()">
          <% } %>
        </div>
      </div>
    </div>

    <!-- MODALS -->
    <div class="modal fade" id="<%= animation.idName %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLabel"><%= animation.name %> Animation</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
            <div class="modal-body" style="text-align: left;">
              <h5>Congratulations! You now have access to this animation!</h5>
              <span>To integrate this animation into your website, copy-paste the code below:</span>
              <br><br>
              <code>
                &lt;div id="anojs-<%= animation.idName %>"&gt;&lt;/div&gt;
                <br>
                &lt;script src="<span id="cdnLink"></span>"&gt;&lt;/script&gt;
              </code>
              <br><br>
              <strong>NOTE: You may need to modify the code according to your specific application.</strong>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
      </div>
    </div>

    <%- blockElements[2] %>
  </body>
  <script>
    function updateCdnLink() {
      var animationParameters = '<%= animation.animationParameters %>'.split(',');

      if (animationParameters != []) {
        var cdnLink = "<%= animation.cdnLink %>?";
        var colorValues = [];
        for (parameter of animationParameters) {
          var colorValue = document.getElementById(parameter).value;
          colorValues.push(colorValue);
          colorValue = colorValue.replace("#", "%23")
          cdnLink += parameter + "=" + colorValue + "&"
        }
        cdnLink = cdnLink.substring(0, cdnLink.length - 1)

        document.getElementById("cdnLink").innerHTML = cdnLink;
        resetCanvas(colorValues);
      }
    }

    function addUseToAnimation() {
      fetch(`/app/add-use-to-animation?animationIdName=${"<%= animation.idName %>"}`, {
        method: "POST"
      });

      updateCdnLink();
    }

    function addCdnLink(link) {
      var cdnScript = document.createElement('script');
      cdnScript.setAttribute('src', link);
      cdnScript.id = "cdn-link";
      document.head.appendChild(cdnScript);
    }

    function resetCanvas(colorValues) {
      customColors = colorValues;
    }

    if (typeof canvas !== 'undefined') {
      canvas.width  = canvas.offsetWidth + 300;
      canvas.height = canvas.offsetHeight + 150;
    }

    cdnLink = "<%= animation.cdnLink %>?"
    colorInputs = document.querySelectorAll('input[type=color]');
    animationParameters = '<%= animation.animationParameters %>'.split(',');
    if ('<%= animation.animationParameters %>') {
      console.log(animationParameters)
      for (var i = 0; i < animationParameters.length; i++) {
        var newRandomColor = Math.floor(Math.random()*16777215).toString(16);
        var colorValue = document.getElementById(animationParameters[i]).value;
        cdnLink += animationParameters[i] + "=%23" + newRandomColor + "&"
        colorInputs[i].value = "#" + newRandomColor;
      }
    }

    addCdnLink(cdnLink)
  </script>
</html>
