<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="If you have any questions about Ano.js or web animation in general, please feel free to contact us about it! Or, if you're looking into a staff position at Anojs, also send us a message!">
    <title>Ano.js - Contact Us!</title>
    <%- blockElements[0] %>
  </head>
  <body>
    <%- blockElements[1] %>
    <div class="spacer"></div>

    <div class="container">
      <h1 class="page-header"><%= contributor.login %>'s Profile</h1>
      <div class="profile mt-5">
        <div class="profile-information">
          <img class="profile-information-avatar" src="<%= contributor.avatar_url %>" alt="Anojs Open Source Contributor's Avatar'">
          <h3 class="sub-header mt-4"><%= contributor.login %></h3>
          <h5 class="">Open Source Contributor</h5>
          <a class="profile-information-github" href="<%= contributor.html_url %>" target="_">
            <img src="/static/images/github.png" alt="Anojs GitHub Logo">
          </a>
        </div>
        <div class="profile-animations text-center">
          <small>No animations yet!</small>
        </div>
      </div>
    </div>
    <%- blockElements[2] %>
  </body>
</html>
