<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <%- include("blocks/imports.html") %>
    <title>Ano.js - Credits</title>
  </head>
  <body>
    <%- include("blocks/navbar.html") %>
    
    <h1 class="header-secondary">Credits</h1>
    <div class="container" style="margin-bottom: 250px;">
      <ul>
        <li>Icons supplied and created by <a href="https://www.flaticon.com/" target="_blank">Flaticon</a>, along with their volunteer authors and designers.</li>
      </ul>
    </div>
    <%- include("blocks/footer.html") %>
  </body>
</html>
