<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <%- blockElements[0] %>
    <title>Ano.js - Credits</title>
  </head>
  <body>
    <%- blockElements[1] %>
    <div class="spacer"></div>
    <h1 class="page-header">Credits</h1>
    <div class="container" style="margin-bottom: 250px;">
      <ul>
        <li>Icons supplied and created by <a href="https://www.flaticon.com/" target="_blank">Flaticon</a>, along with their volunteer authors and designers.</li>
      </ul>
    </div>
    <%- blockElements[2] %>
  </body>
</html>
