<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Ano.js - Contact Us</title>
    <%- include("blocks/imports.html") %>
  </head>
  <body>
    <%- include("blocks/navbar.html") %>
    <div class="spacer"></div>

    <div class="container">
      <h1 class="page-header">Email Blast</h1>
      <form class="w-50 m-auto" method="post">
        <input class="form-input" type="text" name="subject" placeholder="Subject">
        <textarea name="message" rows="5" class="form-input" placeholder="Message"></textarea>
        <input class="primary-cta-button" type="submit" value="Contact Us!">
      </form>
    </div>
    <%- include("blocks/footer.html") %>
  </body>
</html>
