<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Have a question about web animation or Ano.js? You might be able to find an answer to your question, or simply learn something new about GitHub open source web animation or Anojs.">
    <title>Ano.js - Frequently Asked Questions</title>
    <%- include("blocks/imports.html") %>
  </head>
  <body>
    <%- include("blocks/navbar.html") %>

    <div class="page-container container">
      <h1 class="header-secondary">FAQs</h1>
      <div class="faqs">
        <div class="faq">
          <h3 class="header-fourth">What is Ano.js?</h3>
          <p>Ano.js is a free, open-source web animation library, where customizable, interactive web animations can be added to any website with just 2 lines of copy-paste code.</p>
        </div>
        <div class="faq">
          <h3 class="header-fourth">How do I use Ano.js?</h3>
          <p>Ano.js animations can be added to any website by copy-pasting two lines code! Just go to the animation you want to use, click "Use this Animation!", copy the code given, and then paste it into your HTML file!</p>
        </div>
        <div class="faq">
          <h3 class="header-fourth">How is Ano.js different from competitors?</h3>
          <p>Though there are other web animation libraries like Mo.js and Anime.js for web animation, you need to learn how to use those libraries. Ano.js aims to help everyone easily add a stylish web animation to their website without having to learn how to use a new library.</p>
        </div>
        <div class="faq">
          <h3 class="header-fourth">How can I contribute?</h3>
          <p><a href="/join-us">Become a contributor!</a> Ano.js is an open-source project, meaning all of our code is open to see and use, protected underneath the MIT License. We need as many developers as possible to make Ano.js the best web animation library, so join us today!
        </div>
      </div>
    </div>
    <%- include("blocks/footer.html") %>
  </body>
</html>
