<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Have a question about web animation or Ano.js? You might be able to find an answer to your question, or simply learn something new about GitHub open source web animation or Anojs.">
    <title>Ano.js - FAQs for Web Animation</title>
    <%- blockElements[0] %>
  </head>
  <body>
    <%- blockElements[1] %>
    <div class="spacer"></div>

    <div class="container">
      <h1 class="page-header">FAQ</h1>
      <div class="faq-grid">
        <div class="faq-grid-item">
          <div class="faq-grid-item-question">
            <h3>How do I use Ano.js?</h3>
          </div>
          <div class="faq-grid-item-answer">
            Ano.js animations can be used by copy-pasting two lines code that we've already optimized for any website. There are more detailed steps on our <a href="/about">About page</a>.
          </div>
        </div>
        <div class="faq-grid-item">
          <div class="faq-grid-item-question">
            <h3>What do I need to become a collaborator?</h3>
          </div>
          <div class="faq-grid-item-answer">
            Absolutely nothing. <a href="/join-us">Just become a collaborator first.</a> All the materials and resources you need to be a collaborator are in the GitHub repository. Learn as you go, and don't be afraid to ask fellow collaborators for help.
          </div>
        </div>
        <div class="faq-grid-item">
          <div class="faq-grid-item-question">
            <h3>Are there job positions on staff?</h3>
          </div>
          <div class="faq-grid-item-answer">
            There are none at the moment. But, this is open to change. In the future, we may look for a Gitmaster, a technical lead, and a social media marketer.
          </div>
        </div>
      </div>

      <p>
        If you couldn't find the answer you were looking for, please feel free to <a href="/contact-us">contact us</a>!
      </p>
    </div>
    <%- blockElements[2] %>
  </body>
</html>
