<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Have a question about web animation or Ano.js? You might be able to find an answer to your question, or simply learn something new about GitHub open source web animation or Anojs.">
    <title>Ano.js - FAQs for Web Animation</title>
    <%- include("blocks/imports.html") %>
  </head>
  <body>
    <%- include("blocks/navbar.html") %>


    <div class="container">
      <h1 class="header-secondary">FAQs</h1>
      <div class="faqs">
        <div class="faq">
          <h3 class="header-fourth">How do I use Ano.js?</h3>
          <p>Ano.js animations can be used by copy-pasting two lines code that we've already optimized for any website. There are more detailed steps on our <a href="/about">About page</a>.</p>
        </div>
        <div class="faq">
          <h3 class="header-fourth">What do I need to become a collaborator?</h3>
          <p>Absolutely nothing. <a href="/join-us">Just become a collaborator first.</a> All the materials and resources you need to be a collaborator are in the GitHub repository. Learn as you go, and don't be afraid to ask fellow collaborators for help.</p>
        </div>
      </div>

      <p>
        If you couldn't find the answer you were looking for, please feel free to <a href="/contact-us">contact us</a>!
      </p>
    </div>
    <%- include("blocks/footer.html") %>
  </body>
</html>
