<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Ano.js is a free, open source Javascript web animation library hosted on GitHub that makes creating beautiful designs and HTML/CSS animations a whole lot easier. Anojs has many HTML and CSS animation examples, as well as web animation tools/techniques.">
    <title>Ano.js - Interactive Web Animation Made Easy</title>
    <%- include("blocks/imports.html") %>
  </head>
  <body>
    <%- include("blocks/navbar.html") %>

    <div style="padding: 0; position: relative;">
      <div class="index-animation" id="anojs-growing-circles-gray">
        <div class="center-container">
          <h1 class="main-header">Web Animation Made Easy</h1>
          <div class="cta-buttons">
            <a class="ghost-cta-button" href="/join-us">Join Our Team!</a>
            <a class="primary-cta-button" href="/animations">Check out Animations!</a>
          </div>
        </div>
      </div>
    </div>

    <%- include("blocks/footer.html") %>

    <script src="https://cdn.jsdelivr.net/gh/calixo888/anojs-animations@master/animation-files/anojs-growing-circles-gray.js" charset="utf-8"></script>
    <script>
      function onResize() {
        if (window.innerWidth >= 800) {
          document.querySelector("#anojs-growing-circles-gray-canvas").style.display = "block";
        } else {
          document.querySelector("#anojs-growing-circles-gray-canvas").style.display = "none";
        }
      }

      onResize();
      window.onresize = onResize;
    </script>
  </body>
</html>
