<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Ano.js</title>
    <%- blockElements[0] %>
  </head>
  <body style="padding: 0; overflow: hidden;">
    <%- blockElements[1] %>
    <div id="anojs-growing-circles-gray">
      <div class="center-container">
        <h1 class="main-header">Web Animation Made Easy</h1>
        <div class="cta-buttons">
          <a class="ghost-cta-button" href="/join-us">Join Our Team!</a>
          <a class="primary-cta-button" href="/animations">Check out Animations!</a>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/gh/calixo888/anojs-animations@master/animation-files/anojs-growing-circles-gray.js"></script>
  </body>
</html>
