<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Ano.js is a completely open source web animation project, so we are always looking for more open source GitHub contributors and staff here at Anojs! Please come and contribute if you are interested in web animation and Javascript, or simply want to become more immersed in Ano.js!">
    <title>Ano.js - Join Us!</title>
    <%- include("blocks/imports.html") %>
  </head>
  <body>
    <%- include("blocks/navbar.html") %>

    <div class="page-container container">
      <h1 class="header-secondary">Join Us!</h1>

      <div class="contributor-section">
        <div class="contributor-form-container">
          <div>
            <h3 class="header-fourth">Be a Contributor</h3>
            <form method="post">
              <input class="form-input" type="email" name="email" placeholder="Email" required>
              <input class="form-input mb-0" type="text" name="githubUsername" placeholder="GitHub Username" required>

              <div class="checkbox">
                <input type="checkbox" required> <small class="d-inline">I have read the Ano.js <a href="terms-and-conditions">Terms</a> and <a href="/privacy-policy">Privacy Policy</a>.</small>
              </div>

              <input class="primary-cta-button" type="submit" value="Join the Team!">
            </form>
          </div>
          <div>
            <h3 class="header-fifth">Steps</h3>
            <ol style="padding-left: 30px;">
              <li>Enter your email and GitHub username</li>
              <li>Receive a <a href="https://github.com/calixo888/anojs" target="_blank">GitHub repository</a> invite</li>
              <li>Receive an email with a <a href="https://discord.gg/xkdRm7E" target="_blank">Discord</a> invite</li>
              <li>Start contributing!</li>
            </ol>

            <h3 class="header-fifth mt-4">FAQs</h3>
            <ul style="padding-left: 30px;">
              <li><a href="https://github.com/calixo888/anojs/blob/master/README.md#what-do-anojs-contributors-do" target="_blank">What do contributors do?</a></li>
              <li><a href="https://github.com/calixo888/anojs/blob/master/README.md#why-should-you-be-a-contributor" target="_blank">Why should I be a contributor?</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </body>
  <%- include("blocks/footer.html") %>
  <script>
    if ("<%= alert %>") {
      alertify.message("<%= alert %>");

      setTimeout(function() {
        var message = "After accepting the invite, <a href='https://github.com/anojs/anojs#how-do-i-get-started' target='_'>find out how to get started!</a>"
        var msg = alertify.message(message, 0);
        $('body').one('click', function(){
           msg.dismiss();
        });
      }, 1500);
    }
  </script>
</html>
