<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Ano.js is a completely open source web animation project, so we are always looking for more open source GitHub contributors and staff here at Anojs! Please come and contribute if you are interested in web animation and Javascript, or simply want to become more immersed in Ano.js!">
    <title>Ano.js - Join Us Our Open Source Project!</title>
    <%- blockElements[0] %>
  </head>
  <body>
    <%- blockElements[1] %>
    <div class="spacer"></div>

    <div class="container">
      <h1 class="page-header">Join Us!</h1>
      <h3 class="sub-header">Become an Open Source Contributor</h3>
      <div class="contributor-section">
        <div class="contributor-form-container">
          <div>
            <form method="post">
              <input class="form-input" type="email" name="email" placeholder="Email" required>
              <input class="form-input" type="text" name="githubUsername" placeholder="GitHub Username" required>
              <input class="primary-cta-button" type="submit" value="Join the Team!">
            </form>
            <small><button class="btn btn-link p-0" onclick="document.getElementById('benefits').scrollIntoView({behavior: 'smooth'});">Why should I be a contributor?</button></small>
          </div>
          <div>
            <p>
              You will receive an invitation in your email to become a contributor on the <a target="_" href="https://github.com/anojs/anojs">Ano.js GitHub repository</a>.
            </p>
            <p>
              If you don't get an invite, double check that you have spelled your GitHub username correctly.
            </p>
            <p>
              <strong>NOTE: Make sure you're logged in before you accept the invitation.</strong>
              <br>
              <small>If you are not logged in before accepting, you will get a 404 error</small>
            </p>
          </div>
        </div>

        <div class="mt-4">
          <h3 class="sub-header">What do Ano.js contributors do?</h3>
          <ul class="contributor-section-left-benefits">
            <li>Create new web animations with new technology</li>
            <li>Get guidance and mentorship from fellow contributors</li>
            <li>Deploy web animations for real Ano.js users to use</li>
            <li>Learn how to use new animation technology to create something new</li>
          </ul>
        </div>

        <div class="contributor-section-left mt-5" id="benefits">
          <h3 class="sub-header">Benefits of being a Contributor</h3>
          <ul class="contributor-section-left-benefits">
            <li class="contributor-section-left-benefits-item"><span class="fa-li"><i class="fas fa-angle-right"></i></span>Paste it on your LinkedIn</li>
              <li class="contributor-section-left-benefits-item-sub">Great work experience to show</li>
            <li class="contributor-section-left-benefits-item">Add to your portfolio/resume</li>
              <li class="contributor-section-left-benefits-item-sub">Show off Ano.js to future employers</li>
            <li class="contributor-section-left-benefits-item">No time constraints or commitments</li>
              <li class="contributor-section-left-benefits-item-sub">You choose how much you contribute</li>
            <li class="contributor-section-left-benefits-item">Receive recognition</li>
              <li class="contributor-section-left-benefits-item-sub">More contributions = more recognition</li>
              <li class="contributor-section-left-benefits-item-sub">Contributors with the most amount of contributions are shown the most</li>
              <li class="contributor-section-left-benefits-item-sub">You receive credit for animations you create</li>
              <li class="contributor-section-left-benefits-item-sub">Eligible for staff positions</li>
            <li class="contributor-section-left-benefits-item">Gain experience</li>
              <li class="contributor-section-left-benefits-item-sub">Learn more about software engineering</li>
              <li class="contributor-section-left-benefits-item-sub">Network with fellow collaborators</li>
          </ul>
        </div>
      </div>
      <p class="mt-5">
        <strong>Looking for more? <a href="/staff-positions">Check out staff openings!</a></strong>
      </p>
    </div>
  </body>
  <%- blockElements[2] %>
  <script>
    if ("<%= alert %>") {
      alertify.message("<%= alert %>");

      setTimeout(function() {
        var message = "After accepting the invite, <a href='https://github.com/anojs/anojs#how-do-i-get-started' target='_'>find out how to get started!</a>"
        var msg = alertify.message(message, 0);
        $('body').one('click', function(){
           msg.dismiss();
        });
      }, 1500);
    }
  </script>
</html>
