<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Ano.js - Our Team</title>
    <%- blockElements[0] %>
  </head>
  <body>
    <%- blockElements[1] %>
    <div class="spacer"></div>

    <div class="container">
      <h1 class="page-header">Our Team</h1>
      <h3 class="sub-header">Collaborators</h3>
      <div class="collaborators">
        <% for (collaborator of collaborators) { %>
          <div class="collaborator">
            <img class="collaborator-avatar" src="<%= collaborator.avatar_url %>" alt="<%= collaborator.login %>'s Avatar'">
            <a href="<%= collaborator.html_url %>" target="_">
              <h5 class="collaborator-name"><%= collaborator.login %></h5>
            </a>
          </div>
        <% } %>
      </div>
    </div>
    <%- blockElements[2] %>
  </body>
</html>
