<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Here is our wonderful team of staff and open source GitHub contributors here at Ano.js! We deeply appreciate all of the web animations that have been contributed by our team, and we would like to recognize them here!">
    <title>Ano.js - Our Team and Open Source Contributors</title>
    <%- blockElements[0] %>
  </head>
  <body>
    <%- blockElements[1] %>
    <div class="spacer"></div>

    <div class="container">
      <h1 class="page-header">Our Team</h1>
      <h3 class="sub-header">Top Contributors</h3>
      <div class="text-center">
        <small>No top contributors yet!</small>
      </div>
      <h3 class="sub-header pb-5 mt-5" style="position: relative;">
        <span>Contributors</span>
        <a href="/join-us" class="primary-cta-button" style="position: absolute; right: 0;">Become a Contributor!</a>
      </h3>
      <div class="contributors">
        <% for (contributor of contributors) { %>
          <div class="contributor">
            <img class="contributor-avatar" src="<%= contributor.avatar_url %>" alt="Anojs Open Source Contributor's Avatar'">
            <a href="/our-team/<%= contributor.login %>" target="_">
              <h5 class="contributor-name"><%= contributor.login %></h5>
            </a>
          </div>
        <% } %>
      </div>
    </div>
    <%- blockElements[2] %>
  </body>
</html>
