<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Here is our wonderful team of staff and open source GitHub contributors here at Ano.js! We deeply appreciate all of the web animations that have been contributed by our team, and we would like to recognize them here!">
    <title>Ano.js - Our Team</title>
    <%- include("blocks/imports.html") %>
  </head>
  <body>
    <%- include("blocks/navbar.html") %>


    <div class="container">
      <h1 class="header-secondary">Our Team</h1>
      <!-- <h3 class="header-fourth">Top Contributors</h3>
      <div class="top-contributors">
        <% for (topContributor of contributors.slice(0, 3)) { %>
          <div class="top-contributor">
            <img class="contributor-avatar" src="<%= topContributor.avatar_url %>" alt="Anojs Open Source Contributor's Avatar'">
            <a href="/our-team/<%= topContributor.login %>">
              <h3 class="topContributor-name"><%= topContributor.login %></h3>
            </a>
            <small><%= topContributor.contributionCounter %> Contributions</small>
            <small><%= topContributor.numberOfAnimations %> Animations</small>
          </div>
        <% } %>
      </div> -->
      <h3 class="contributors-header header-fourth pb-5 mt-5" style="position: relative;">
        <span>Contributors</span>
        <a href="/join-us" class="primary-cta-button" style="position: absolute; right: 0;">Become a Contributor!</a>
      </h3>
      <div class="contributors">
        <% for (contributor of contributors.slice(3)) { %>
          <div class="contributor">
            <img class="contributor-avatar" src="<%= contributor.avatar_url %>" alt="Anojs Open Source Contributor's Avatar'">
            <a href="/our-team/<%= contributor.login %>">
              <h5 class="contributor-name"><%= contributor.login %></h5>
            </a>
            <!-- <small><%= contributor.contributionCounter %> Contributions</small> -->
            <!-- <small><%= topContributor.numberOfAnimations %> Animations</small> -->
          </div>
        <% } %>
      </div>
    </div>

    <%- include("blocks/footer.html") %>
  </body>
</html>
