<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Want a job in web animation, or in an open source project? Ano.js has many open staff positions, allowing almost anyone to apply for a position at one of the largest open source web animation projects out there.">
    <title>Ano.js - Staff Positions</title>
    <%- blockElements[0] %>
  </head>
  <body>
    <%- blockElements[1] %>
    <div class="spacer"></div>

    <div class="container">
      <h1 class="page-header">Ano.js Staff Positions</h1>

      <div class="positions">
        <% for (position of positions) { %>
          <div class="position">
            <h3 class="position-title"><%= position.title %></h3>
            <p class="position-title-description"><%= position.description %></p>
            <a class="ghost-cta-button" href="/staff-positions/<%= position.idName %>">Learn More</a>
          </div>
        <% } %>
      </div>

      <div class="text-center mt-5">
        <strong>If you are interested in one of these positions, <a href="/contact-us">please contact us.</a></strong>
        <br>
        <small>Get some tips on how to get staff positions <a href="/staff-positions/tips-on-staff-positions">here.</a></small>
      </div>
    </div>
    <%- blockElements[2] %>
  </body>
</html>
