<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Want a job in web animation, or in an open source project? Ano.js has many open staff positions, allowing almost anyone to apply for a position at one of the largest open source web animation projects out there.">
    <title>Ano.js - How to Get a Staff Position at Ano.js</title>
    <%- blockElements[0] %>
  </head>
  <body>
    <%- blockElements[1] %>
    <div class="spacer"></div>

    <div class="container">
      <h1 class="page-header">Tips on Getting a Staff Position at Ano.js</h1>

      <h3 class="sub-header">What you should know:</h3>
      <ul class="staff-position-list">
        <li>Basic Programming</li>
        <li>Basic Frontend Web Development (HTML/CSS/JS)</li>
        <li>Most/All of the requirements of staff position</li>
        <li>Leadership</li>
      </ul>

      <h3 class="sub-header mt-5">What you should do:</h3>
      <ul class="staff-position-list">
        <li>Be active on Slack and GitHub</li>
        <li>Be responsive and proactive</li>
        <li>Respond to most/all Slack messages concerning you</li>
        <li>Work well with peers</li>
      </ul>

      <h3 class="sub-header mt-5">Extra Bonuses:</h3>
      <ul class="staff-position-list">
        <li>Refer people you know to use Ano.js</li>
        <li>Refer people you know to become an Ano.js contributor</li>
        <li>Show off Ano.js on social media</li>
        <li>Encourage your peers to be productive</li>
      </ul>
    </div>
    <%- blockElements[2] %>
  </body>
</html>
