{% load staticfiles %}
{% include 'anojs_app/base.html' %}
<link rel="stylesheet" href="{% static 'anojs_app/index.css' %}">
<title>Ano.js</title>
{% block body %}
  <div id="anojs-growing-circles-gray">
    <div class="index-content">
      <h1 class="header">Web animation made easy</h1>
      <div class="cta">
        <a href="/animations/" class="primary-cta-button cta-button">Check out our Animations</a>
        <a href="#" class="secondary-cta-button cta-button">Sign up for our Newsletter</a>
      </div>
    </div>
  </div>

  <small class="copyright">&copy; Calix Huang. All rights reserved.</small>
  <script src="https://www.anojs.com/media/animation-files/anojs-growing-circles-gray.js" charset="utf-8"></script>
{% endblock %}
