{% load staticfiles %}
{% include 'anojs_app/base.html' %}
<link rel="stylesheet" href="{% static 'anojs_app/index.css' %}">
<title>Ano.js</title>
{% block body %}
  <div id="anojs-growing-circles">
    <h1 class="header">Ano.js</h1>
    <p class="description anim-typewriter line-1">
      Web animation made easy
    </p>
  </div>
  <small class="copyright">&copy; Calix Huang. All rights reserved.</small>
  <script src="https://www.anojs.com/media/animation-files/anojs-growing-circles.js" charset="utf-8"></script>
{% endblock %}
