{% load staticfiles %}
{% include 'anojs_app/base.html' %}
<link rel="stylesheet" href="{% static 'anojs_app/submit.css' %}">
<title>Submit</title>
{% block body %}
  <h1 class="header">Submit an Animation</h1>
  <form class="submit-form" action="/success" method="post">
    {% csrf_token %}
    <input class="name form-input" type="text" placeholder="Full Name">
    <input class="animation-name form-input" type="text" placeholder="Animation Name">
    <div class="file-drop">
      <input type="file" id="file" />
      <label for="file">Javascript File</label>
    </div>
    <input class="submit-button" type="submit" value="Upload">
  </form>
  <p style="position: absolute; bottom: 0; left: 50%; transform: translateX(-50%);color: white; text-align: center;">For any issues: contact us at ano.team123@gmail.com</p>
{% endblock %}
