<footer>
  <div class="container">
    <div class="footer-grid">
      <div>
        <img class="footer-logo" src="/static/images/anojs.png" alt="Ano.js Free Web Animation Library Logo">
        <br>
        <small>&copy; 2020 <a href="https://www.launchtechllc.com/" target="_blank">Launch Tech LLC</a>. Built by <a href="https://calix.dev" target="_blank">Calix Huang</a>. All rights reserved.</small>
      </div>
      <div>
        <h3>Company</h3>
        <ul class="footer-navigation">
          <li class="footer-navigation-link">
            <a href="https://launchtechllc.com" target="_blank">About</a>
          </li>
          <li class="footer-navigation-link">
            <a href="mailto:me@calix.dev" target="_blank">Contact</a>
          </li>
          <li class="footer-navigation-link">
            <a href="https://github.com/calixo888/anojs" target="_blank">Releases</a>
          </li>
          <li class="footer-navigation-link">
            <a href="https://discord.gg/xkdRm7E" target="_blank">Join the community!</a>
          </li>
        </ul>
      </div>
      <div>
        <h3>Legal</h3>
        <ul class="footer-navigation">
          <li class="footer-navigation-link">
            <a href="/terms-and-conditions">Terms and Conditions</a>
          </li>
          <li class="footer-navigation-link">
            <a href="/privacy-policy">Privacy Policy</a>
          </li>
          <li class="footer-navigation-link">
            <a href="/credits">Credits</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
